
.header {
  min-width: 100%;
  padding: 93px 50px 95px 50px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: start;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: block;
  padding-left: 187px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  min-width: 100%;
  position: relative;
  background-color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  color: white;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: 0;
}

.cover__title {
  width: 100%;
  padding: 165px 22px 0 50px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding: 15px 0 18px 8px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  align-items: baseline;
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 1;
  padding: 105px 0 50px 50px;
  gap: 105px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 0 24px;
  background-color: white;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style-type: none;
 }

 .lots__card-list-item {
  height: 100%;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

 .card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 48px 40px 48px 40px;
 }

.card_type {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 .card_type_film {
  background-image: url(../images/card-lot-01.jpg);
 }

 .card_type_book {
  background-image: url(../images/card-lot-02.jpg);
 }

 .card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
 }

 .card__title {
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 40px;
 }

 .card__text {
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: white;
  font-size: 20px;
 }

 .lots__look-more-link {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 20px;
  padding: 30px 0 0 40px;
  text-decoration: underline;
  text-underline-position: under;
 }

 .about {
  margin: 120px 24px 0 24px;
  display: grid;
  grid-template-columns: 335px repeat(1, 1fr);
  padding: 35px 0 0;
  background-color: #fff;
  column-gap: 25px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo_image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 100px 0 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
}

/* Ширина блока about-text задана в соответствии с макетом. Перенос текста не должен являться ошибкой, т.к.
текст может поменяться в процессе работы*/
.about__text {
  display: flex;
  flex-direction: column;
  max-width: 693px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  gap: 22px;
}

.footer {
  margin-top: 180px;
  min-width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 82px 50px;
}

 .footer_address {
  display: block;
  width: 265px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 18px;
  line-height: 24.7px;
  font-style: normal;
 }

 .footer__link {
  text-decoration: underline;
  text-underline-position: under;
 }

 .footer__menu {
  display: flex;
  justify-content: center;
  width: 400px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 18px;
 }

 .footer__menu-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

 .footer__menu-link {
  text-decoration: underline;
  text-underline-position: under;
 }

 .footer__menu-link_active {
  text-decoration: none;
 }

 .footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}


